{{#each this}}
<div class="gallery_card">
        <img src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" alt='{{this.title}}' class="gallery_img" data-id="{{this.id}}" />
        <p class="card_name">{{this.title}}</p>
     <p class="card_descr">
        Drama | {{this.release_date}}<span class="card_rating">{{this.vote_average}}</span>
      </p>
    </div>
    {{/each}}

